
body {
    font-family: Arial, sans-serif;
    background-color: #F9F3FF; /* Light Lilac Background */
    color: #4A148C; /* Lilac text */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    text-align: center;
    background-color: #FFF9E3; /* Light Yellow */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

h1, h2, h3 {
    color: #4A148C; /* Lilac color for headings */
    font-size: 24px;
}

h3 {
    margin-top: 20px;
}

a {
    color: #4A148C;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    display: block;
}

button {
    background-color: #4A148C; 
    color: #FFF;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #7B1FA2;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

input[type="radio"] {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    
    .container {
        padding: 20px;
        width: 90%;
    }
    
    button {
        font-size: 16px;
    }
}
